*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 60px;
    width: 100px;
    margin-right: 20px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.second{
    font-size: 0.8rem;
    color: #cccccc;
    border: 2px solid transparent;
    align-items: center;
}
.location{
    color: white;
    font-size: 1rem;
}
.searchbar{
    display: flex;
    width: 700px;
    height: 40px;
    margin-left: 20px;
}
.sbar{
    width: 700px;
    border: none;
}
.Sselect{
    width: 45px;
    text-align: center;
    background-color: #eeecec;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    

}
.sbtn{
    width: 45px;
    background-color: #ffc904;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fa-solid {
    font-size: 20px;
}
.signin{
    margin-left: 20px;
}
.sign{
    font-size: 0.8rem;
    color: #cccccc;
}
.aclist{
    
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.searchbar:hover{
    border: 2px solid #ffc904;
    border-radius: 7px;
}
.cart{
    display: flex;
    text-align: center;
    margin-left: 20px;
}
.cart i{
    font-size: 40px;
    width: 40px;
}
.menu{
    height: 48px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.options p {
    display: inline;
    margin-left: 15px;
}
.options{
    width: 70%;
    font-size: 0.90rem;
}
.deals{
    font-size: 0.96rem;
    font-weight: 700;
}
.heroSection{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.heromsg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 80%;
    margin-bottom: 30px;
}
.l{
    color: #007185;
}
.box{
    border: 2px solid black;
    height: 350px;
    width: 22%;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.shopsection{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.imgbox{
    background-image: url("box2_image.jpg");
    height: 300px;
    background-size: cover;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.imgbox2{
    background-image: url("box5_image.jpg");
    height: 300px;
    background-size: cover;
}
.imgbox3{
    background-image: url("box7_image.jpg");
    height: 300px;
    background-size: cover;
}
.imgbox4{
    background-image: url("box8_image.jpg");
    height: 300px;
    background-size: cover;
}

footer{
    margin-top: 10px;
}
.footpanel1{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9rem;
}
.footpanel2 {
    background-color: #222f3d;
    height: 300px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}
ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
}
ul{
    margin-top: 30px;
}


.footpanel3{
    background-color: #222f3d;
    height: 70px;
    color: #dddddd;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 60px;
    width: 100px;
}